* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* default settings */

a {text-decoration: none;}
ul li {list-style: none;}

.txt-big {
    font-size: 24px;
}

@media screen and (min-width:0px){
    /*struttura*/
    #align_up_cont {
        display: flex;
        flex-direction: row;
    }

    #navigation {
        width: 10vw;
        height: 85vh;
        background-color:  brown;
    }

    main {
        width: 90vw;
        height: 85vh;
        background-color:  lightblue;
        overflow: scroll;
    }

    #ctrl_panel {   
        width: 100vw;
        height: 15vh;
        background-color:lightgoldenrodyellow ;
    }
    /*contenuto main destra*/
    #top_strip {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 16px 4px;
        background-color: lightgreen;
    }

    .main_btn {
        padding: 4px 16px;
        border: 1px solid #fff;
        border-radius: 15px;
    }
    /*tabs*/
    #tabs {
        display:flex;
        justify-content:center;
        flex-wrap:wrap;
        background-color: #010101;
        padding: 8px 24px;
    }

    #tabs a {
        color:#fff;
        padding:8px 16px;
    }
    
    #tabs  a:hover::after { 
      content: '';
      position:relative;
      top: 4px;
      display:block;
      margin:0 auto;
      width:10px;
      border-bottom:3px solid #81c431;
    }
    /*playsist-box*/
    #playlist_box {
        padding: 8px 24px;
    }

    #playlist_box span {
        display: block;
        padding: 24px 0;
    }

    .box_container {
        display: flex;
        flex-wrap: wrap;
        background-color: lightgrey;
        font-size: 0;
    }

    .img_box_container {
        width: 50%;
        padding: 0 8px 8px 0;
    }

    .img_box_container img {
        width: 100%;
    }

}

/*
@media screen and (min-width:576px){}
@media screen and (min-width:768px){}
@media screen and (min-width:992px){}
@media screen and (min-width:1200px){}
@media screen and (min-width:1400px){}
*/