* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* default settings */

.img_radius {
    border-radius: 50%;
}

/* typography */
a {text-decoration: none;}
ul li {list-style: none;}

.txt {color: #fff;}

.big {
    font-size: 24px;
}

.med {
    font-size: 18px;
}

.s {
    font-size: 13px;
}

.xs {
    font-size: 10px;
}

.sub {
    color: #686b70;
}

/* icon */
.fa-random{font-size: 13px;}
.fa-caret-left{font-size: 14px;}
.fa-play-circle{font-size: 24px; margin: 0 4px;}
.fa-caret-right{font-size: 14px;}
.fa-redo-alt{font-size: 13px;}
.fa-list-ul {font-size: 13px;}
.fa-desktop {font-size: 13px;}
.fa-volume-up {font-size: 13px;}
.fa-plus-square {font-size: 32px; margin-right: 8px;}

/* end default settings */

@media screen and (min-width:0px){
    /*struttura*/
    #align_up_cont {
        display: flex;
        flex-direction: row;
    }

    #navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 10vw;
        min-width: 40px;
        height: 90vh;
        background-color: #010101;
        padding: 0 1vw;
    }

    main {
        width: 90vw;
        height: 90vh;
        background-color: #141922;
        overflow: scroll;
    }

    #ctrl_panel {   
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100vw;
        height: 10vh;
        min-height: 70px;
        background-color:#282828;
        z-index: 999;
    }
    /*contenuto nav sinistra*/

    .nav_btn { /* contenuto non è inline, perchè? */
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        width: 100%;
        height: 40px;
    }  

    .select::before {
        content:'';
        display: block;
        position: relative;
        left: -10px;
        width: 2px;
        height: 40px;
        background-color: #81c431;
    }
    
    .icon_cont_nav {
        display: flex;
        width: 20px;
        height: 20px;
        margin-right: 4px;
    }

    .icon_cont_nav img {
        width: 100%;
    }

    .logo_desk {
        display: none;
    }

    .install_icon {
        width: 13px;
        height: 13px;
        opacity: 0.5;
    }   

    .divider {
        border:none;
    }

    .account {
        width: 20px;
        height: 20px;
        border-radius: 15px;
        background-color: #808080;
        overflow: hidden;
    }

    .only_desk {
        display: none;
    }

    .nav_btn .only_desk {
        line-height: 20px;
    }

    /*contenuto main destra*/
    #top_strip {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 16px 4px;
        background-color: #080b12;
    }

    .main_btn {
        padding: 8px 32px;
        margin-right: 8px;
        background-color: rgba(0, 0, 0, 0);
        color: #fff;
        border: 2px solid #fff;
        text-transform: uppercase;
        border-radius: 25px;
    }

    .main_btn:hover {
        transform: scale(1.1);
        margin-right: 16px;
    }

    /*tabs*/
    #tabs {
        display:flex;
        justify-content:center;
        flex-wrap:wrap;
        padding: 8px 24px;
    }

    #tabs a {
        text-transform: uppercase;
        padding:8px 16px;
    }

    #tabs a:hover {
        color: #fff;
    }
    
    #tabs  a.selected_tab::after { 
      content: '';
      position:relative;
      top: 4px;
      display:block;
      margin:0 auto;
      width:20px;
      border-bottom:3px solid #81c431;
    }
    /*playsist-box*/
    #playlist_box {
        padding: 8px 24px;
        background-color: #141922;
    }

    .playlist_name {
        display: block;
        padding: 24px 0;
    }

    .playlist_name span {
        display: block;
        margin-bottom: 4px;
    }

    .box_container {
        display: flex;
        flex-wrap: wrap;
        font-size: 0;
    }

    .img_box_container {
        width: 50%;
        height: 55vw;
        padding: 0 8px 8px 0;
        text-align: center;
    }

    .overlay i {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 42px;
        color: #fff;        
    }

    .img_box_container:hover .overlay {
        position: absolute;
        top: 0%;
        left: 0%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }

    .img_box_container:hover .overlay i {
        display: block;
        position: absolute;
        font-size: 48px;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    .box_img {
        position: relative;
        width: 100%;
        margin-bottom: 8px;
    }
    
    .img_box_container p {
        margin-bottom: 4px;
    }

    .img_box_container img {
        width: 100%;
    }
    /* control panel */
    #ctrl_panel > div {
        width: 33.3%;
    }

    /* sx */
    .sx_func_elem {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .icon_now_play {
        width: 30px;
        height: 30px;
        margin:0 8px;
    }

    .icon_now_play img {
        width: 100%;
    }

    .txt_now_play {
        margin-right: 8px;
    }

    /* center */
    .center_func_elem {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

    .icon_ctrl_audio {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50%;
        min-width:125px;
        color: #fff;
        
    }

    .trak_line {
        display: flex;
        align-items: center;
        width: 100%;
        height: 30%;
    }

    .trak_line span {
        margin: 0 8px 0;
    }

    .a_line {
        margin: 0 auto;
        height: 4px;
        width: 100%;
        border-radius: 15px;
        background-color: #686b70;
    }

    .b_line {
        position: relative;
        top: 0px;
        height: 4px;
        width: 20%;
        border-radius: 15px;
        background-color: #fff;
    }

    .a_line:hover .b_line {
        background-color: #81c431;
    }

    .a_line:hover .b_line::after {
        content:'';
        position: absolute;
        right: 0;
        top:-3px;
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
    }
    /* dx */
    .dx_func_elem {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
    }

    .vol_line {
        margin-right: 16px;
        width: 100px;
    }

    .icon_ctrl_vol {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        color: #fff;
    }

    .icon_ctrl_vol i {
        margin-right: 8px;
    }
}

@media screen and (min-width:639px){

    #navigation {
        width: 30vw;
        max-width: 200px;
    }

    .nav_btn { /* contenuto non è inline, perchè? */
        display: flex;
        justify-content: left;
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        width: 100%;
        height: 40px;
    }

    .nav_btn img:not(.active), .nav_btn span:not(.active) {
        opacity: 0.5;
    }

    .nav_btn:hover img, .nav_btn:hover span {
        color: #fff;
        opacity: 1;
    }

    .playlist {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .playlist span {
        text-transform: uppercase;
        font-weight: 900;
        line-height: 40px;
    }

    .new_playlist a {
        position: relative;
        top: -7px;
    }

    .playlist ul li:not(.new_playlist) {
        padding: 8px 0;
    }

    .logo {
        height: 80px;
    }

    .only_desk {
        display: block;
    }

    .logo_desk {
        display: block;
        width: 100%;
    }

    .logo_desk img {
        position: relative;
        top: -10px;
        width: 100%;
    }

    .logo_mob {
        display: none;
    }

    .divider {
        border-top: 1px solid #686b70;
    }

    /*playsist-box*/
    .img_box_container {
        width: 50%;
        height: 45vw;
    }
}

@media screen and (min-width:878px){
    
    /*playsist-box*/
    .img_box_container {
        width: 25%;
        height: 25vw;
    }
}

@media screen and (min-width:1095px){

        /*playsist-box*/
        .img_box_container {
            width: 16.6%;
            height: 18vw;
        }
}

/*
@media screen and (min-width:1200px){}
@media screen and (min-width:1400px){}
*/