* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* default settings */

a {text-decoration: none;}
ul li {list-style: none;}

.txt {color: #fff;}

.big {
    font-size: 24px;
}

.med {
    font-size: 18px;
}

.s {
    font-size: 13px;
}

.xs {
    font-size: 10px;
}

.sub {
    color: #686b70;
}

/* icon */
.fa-random{font-size: 13px;}
.fa-caret-left{font-size: 14px;}
.fa-play-circle{font-size: 24px; margin: 0 4px;}
.fa-caret-right{font-size: 14px;}
.fa-redo-alt{font-size: 13px;}
.fa-list-ul {font-size: 13px;}
.fa-desktop {font-size: 13px;}
.fa-volume-up {font-size: 13px;}

@media screen and (min-width:0px){
    /*struttura*/
    #align_up_cont {
        display: flex;
        flex-direction: row;
    }

    #navigation {
        width: 10vw;
        height: 85vh;
        background-color:  brown;
    }

    main {
        width: 90vw;
        height: 85vh;
        background-color: #141922;
        overflow: scroll;
    }

    #ctrl_panel {   
        display: flex;
        width: 100vw;
        height: 15vh;
        background-color:#282828;
    }
    /*contenuto main destra*/
    #top_strip {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 16px 4px;
        background-color: #080b12;
    }

    .main_btn {
        padding: 4px 16px;
        border: 1px solid #fff;
        border-radius: 15px;
    }
    /*tabs*/
    #tabs {
        display:flex;
        justify-content:center;
        flex-wrap:wrap;
        padding: 8px 24px;
    }

    #tabs a {
        color:#fff;
        padding:8px 16px;
    }
    
    #tabs  a.selected_tab::after { 
      content: '';
      position:relative;
      top: 4px;
      display:block;
      margin:0 auto;
      width:10px;
      border-bottom:3px solid #81c431;
    }
    /*playsist-box*/
    #playlist_box {
        padding: 8px 24px;
    }

    #playlist_box .big {
        display: block;
        padding: 24px 0;
    }

    .box_container {
        display: flex;
        flex-wrap: wrap;
        font-size: 0;
    }

    .img_box_container {
        width: 50%;
        height: 55vw;
        padding: 0 8px 8px 0;
        text-align: center;
    }

    .img_box_container p {
        margin-bottom: 4px;
    }

    .img_box_container img {
        width: 100%;
        margin-bottom: 8px;
    }
    /* control panel */
    #ctrl_panel > div {
        width: 33.3%;
    }

    /* sx */
    .sx_func_elem {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .icon_now_play {
        width: 30px;
        height: 30px;
        margin-right: 8px;
    }

    .icon_now_play img {
        width: 100%;
    }

    .txt_now_play {
        margin-right: 8px;
    }

    .user_icon_now_play {
        color: #686b70;
    }

    /* center */
    .center_func_elem {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .icon_ctrl_audio {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50%;
        color: #fff;
        
    }

    .trak_line {
        display: flex;
        align-items: center;
        height: 30%;
    }

    .a_line {
        margin: 0 auto;
        height: 4px;
        width: 100%;
        border-radius: 15px;
        margin: 0 8px;
        background-color: #686b70;
    }

    .b_line {
        position: relative;
        top: 0px;
        height: 4px;
        width: 20%;
        border-radius: 15px;
        background-color: #fff;
    }

    .a_line:hover .b_line {
        background-color: red;
    }
    /* dx */
    .dx_func_elem {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
    }

    .vol_line {
        margin-right: 16px;
        width: 100px;
    }

    .icon_ctrl_vol {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        color: #fff;
    }

    .icon_ctrl_vol i {
        margin-right: 4px;
    }
}

/*
@media screen and (min-width:576px){}
@media screen and (min-width:768px){}
@media screen and (min-width:992px){}
@media screen and (min-width:1200px){}
@media screen and (min-width:1400px){}
*/